.container {
    overflow: hidden;
    height: 217px;
    display: flex;
    align-items: center;
    border-radius: 16px;
}

@media(min-width:640px) {
    .container {
        height: 176px;
    }
}

@media(min-width: 768px) {
    .container {
        height: 144px;
    }
}

@media(min-width:1024px) {
    .container {
        height: 192px;
    }
}

@media(min-width: 1280px) {
    .container {
        height: 256px;
    }
}

@media(min-width:1536px) {
    .container {
        height: 288px;
    }
}

@media(min-width: 1700px) {
    .container {
        height: 300px;
    }
}

.information{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
}

.superhost-div {
    margin-bottom: 8px;
}

.superhost {
    cursor: default;
    padding: 5px;
    margin-right: 8px;
    border: 1px solid #4f4f4f;
    color: #4f4f4f;
    border-radius: 1rem;
    font-size: 0.75rem;
    font-weight: 800;
}

.type {
    font-weight: 500;
    color: #828282;
    font-size: 14px;
}

.rating {
    display: inline-flex;
    align-items: center;
}

.ranking {
    font-size: 14px;
    font-weight: 500;
}