.nav-base {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.search {
    width: 297px;
    height: 55px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.input-1 {
    background-color: rgb(255, 255, 255);
    width: 138px;
    height: 50px;
    border: 1px solid rgb(162, 169, 178);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 16px;
    cursor: pointer;
}

.input-2 {
    background-color: rgb(255, 255, 255);
    color: rgb(162, 169, 178);
    width: 113px;
    height: 50px;
    border: 1px solid rgb(162, 169, 178);
    padding: 16px;
    cursor: pointer;
}

#search-icon {
    color: rgb(235, 87, 87);
    height: 50px;
    border: 1px solid rgb(162, 169, 178);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 16px;
    cursor: pointer;
}